html {
background-color: black;
color: white;

}

#friends-list {
width: 80%; 
margin: 0 auto; 
padding: 20px;
}

#site-title {
    text-align: center; 
    font-size: 2em; 
    margin-bottom: 20px; 
    color: white;
}
#site-nav {
    display: flex; justify-content: center; align-items: center; 
    background-color: black;
    border-top: 1px solid #FECD28;
    padding: 10px; 
}

.site-nav-item {
    margin: 0 50px; padding: 10px; 
    border-right: 2px solid #FECD28; border-left: 2px solid #FECD28;
}


.friend-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    margin-bottom: 10px;  
    position: relative;
    background-color: black;
    border: 3px solid #FECD28;
    border-radius: 4px;
    color: white;

}

.dropdown-toggle {
    padding: 5px 10px;

}

.dropdown-menu {
    display: none; 
    position: absolute; right: 0; 
    top: 40px; background-color: black; 
    border: 1px solid #FECD28;
    color: white;
    z-index: 1000;
}

.remove-friend-dropdown {
    display: block; width: 100%; padding: 10px; text-align: left; 
    border: none; background: none; cursor: pointer;
    color: white;

}

#heroes-list {
    width: 80%; margin: 0 auto; padding: 20px;
}
.hero-stats{

    display: none; padding: 10px; 
    border-top: 1px solid #ccc;
}

.hero-item{

    cursor: pointer; padding: 10px; margin-bottom: 10px; 
    border: 2px solid #FECD28; border-radius: 4px;
    background-color: black; color: white;
}

.hero-name {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.class-title {
font-weight: bold;
    font-family: 'Bahnschrift';
    text-align: center;
}
