<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Marvel Rivals - Compare</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_Pineapple.css') }}">
</head>
<body>
  {% set current_path = request.path %}
  <header class="navbar">
    <nav class="navbar">
      <ul>
        <li>
          <a class="{% if current_path == '/' or current_path == '/home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
        </li>
        <li>
          <a class="{% if current_path == '/friends' %}active{% endif %}" href="{{ url_for('friends') }}">Friends</a>
        </li>
        <li>
          <a class="{% if current_path == '/heroes' %}active{% endif %}" href="{{ url_for('heroes') }}">Heroes</a>
        </li>
        <li>
          <a class="{% if current_path == '/matches' %}active{% endif %}" href="{{ url_for('matches') }}">Matches</a>
        </li>
        <li>
          <a class="{% if current_path == '/compare' %}active{% endif %}" href="{{ url_for('compare') }}">Compare</a>
        </li>
        <li><a class="{% if current_path == '/settings' %}active{% endif %}" href="{{ url_for('settings') }}">Settings</a></li>
      </ul>
    </nav>
  </header>

  <section class="banner-container">
    <img src="{{ url_for('static', filename='styles/images/banner.png') }}" alt="Marvel Rivals Banner" class="banner-img" />
    <div class="vs-container">
      <div class="player">
        <img src="images/profile-placeholder.png" alt="Your profile">
        <span class="name">You</span>
      </div>
      <div class="vs">VS</div>
      <div class="player">
        <img src="images/profile-placeholder.png" alt="Friend profile">
        <span class="name">Sp1dermain</span>
      </div>
    </div>
  </section>

  <section class="tabs-section">
    <div class="cluster">
      <div class="tabs">
        <button class="tab active">Overall</button>
        <button class="tab">Heroes</button>
        <button class="tab">Roles</button>
      </div>
      <div class="season-dropdown">
        <select>
          <option>All Seasons</option>
          <option>S2: Hellfire Gala</option>
          <option>S1.5: Eternal Night Falls</option>
          <option>S1: Eternal Night Falls</option>
          <option>S0: Doom’s Rise</option>
        </select>
      </div>
      <div class="friend-select-wrap">
        <span class="friend-label">Friend:</span>
        <div class="friend-dropdown">
          <select>
            <option selected>Sp1dermain</option>
            <option>scOOP</option>
            <option>Krunk</option>
            <option>ferret88</option>
          </select>
        </div>
      </div>
    </div>
  </section>


  <section class="content-area">
  </section>

  <script src="compare.js"></script>
</body>
</html>