<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_Pineapple.css') }}">
</head>
<body>
    {% set current_path = request.path %}

    <header class="navbar">
        <nav class="navbar">
            <ul>
              <li>
                <a class="{% if current_path == '/' or current_path == '/home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
              </li>
              <li>
                <a class="{% if current_path == '/friends' %}active{% endif %}" href="{{ url_for('friends') }}">Friends</a>
              </li>
              <li>
                <a class="{% if current_path == '/heroes' %}active{% endif %}" href="{{ url_for('heroes') }}">Heroes</a>
              </li>
              <li>
                <a class="{% if current_path == '/matches' %}active{% endif %}" href="{{ url_for('matches') }}">Matches</a>
              </li>
              <li>
                <a class="{% if current_path == '/compare' %}active{% endif %}" href="{{ url_for('compare') }}">Compare</a>
              </li>
              <li><a class="{% if current_path == '/settings' %}active{% endif %}" href="{{ url_for('settings') }}">Settings</a></li>
            </ul>
          </nav>
      </header>

    <main class="content-area">
        <div class="expand-controls">
            <button id="expand-button" onclick="toggleExpandAll()">Expand All</button>
        </div>        
        
        <section id="heroes-list">
        
            <h2 class = "class-title">Vanguard</h2>
            <div class="hero-grid">

            {% for hero_name in heroes %}
            {% if hero_name in all_heroes["vanguard"] %}
                <div class="hero-item" onclick="toggleStats(this)">
                    <div class = "hero-name">{{ hero_name }}</div>
                    <div class="hero-stats">
                        <p>Wins: {{ heroes[hero_name]["wins"] }}</p>
                        <p>Losses: {{ heroes[hero_name]["losses"]  }}</p>
                        <p>Win Rate: {{ heroes[hero_name]["win_rate"] }}</p>
                        <p>K/D: {{ heroes[hero_name]["kd"] }}</p>
                        <p>Total Healing: {{ heroes[hero_name]["healing"] }}</p>
                        <p>Total Damage: {{ heroes[hero_name]["damage"] }}</p>
                        <p>Total Damage Blocked: {{ heroes[hero_name]["damage_blocked"] }}</p>
                    </div>
                </div>
            {% endif  %}
            {% endfor %}

                
               
              

            <h2 class = "class-title">Strategist</h2>
            <div class="hero-grid">
            {% for hero_name in heroes %}
            {% if hero_name in all_heroes["strategist"] %}
                <div class="hero-item" onclick="toggleStats(this)">
                    <div class = "hero-name">{{ hero_name }}</div>
                    <div class="hero-stats">
                        <p>Wins: {{ heroes[hero_name]["wins"] }}</p>
                        <p>Losses: {{ heroes[hero_name]["losses"]  }}</p>
                        <p>Win Rate: {{ heroes[hero_name]["win_rate"] }}</p>
                        <p>K/D: {{ heroes[hero_name]["kd"] }}</p>
                        <p>Total Healing: {{ heroes[hero_name]["healing"] }}</p>
                        <p>Total Damage: {{ heroes[hero_name]["damage"] }}</p>
                        <p>Total Damage Blocked: {{ heroes[hero_name]["damage_blocked"] }}</p>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
                 

            <h2 class = "class-title">Duelist</h2>
            <div class="hero-grid"></div>
            
            {% for hero_name in heroes %}
            {% if hero_name in all_heroes["duelist"] %}
                <div class="hero-item" onclick="toggleStats(this)">
                    <div class = "hero-name">{{ hero_name }}</div>
                    <div class="hero-stats">
                        <p>test</p>
                        <p>Wins: {{ heroes[hero_name]["wins"] }}</p>
                        <p>Losses: {{ heroes[hero_name]["losses"]  }}</p>
                        <p>Win Rate: {{ heroes[hero_name]["win_rate"] }}</p>
                        <p>K/D: {{ heroes[hero_name]["kd"] }}</p>
                        <p>Total Healing: {{ heroes[hero_name]["healing"] }}</p>
                        <p>Total Damage: {{ heroes[hero_name]["damage"] }}</p>
                        <p>Total Damage Blocked: {{ heroes[hero_name]["damage_blocked"] }}</p>
                    </div>
                </div>
            {% endif %}
            {% endfor %} 





            
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/hero_page.js') }}"></script>

</body>
</html>