<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <title>Settings</title>
</head>
<body>
  {% set current_path = request.path %}
 
  {% include "Components/navbar.html" %}

  <div>
    <h1>Settings</h1>
    <form>
      <!-- Change Username -->
      <div>
        <label for="new-username">New Username</label>
        <input type="text" id="new-username" name="new-username">
      </div>
      <!-- Change Password -->
      <div>
        <label for="new-password">New Password</label>
        <input type="text" id="new-password" name="new-password">
      </div>
<!-- Change Password -->
      <div>
        <label for="new-playerID">New Player ID</label>
        <input type="text" id="new-playerID" name="new-playerID">
      </div>
      <!-- Submit Changes -->
      <div style="margin-bottom: 5%;">
        <button type="submit">Save Changes</button>
      </div>
      <div>
        <button type="submit">Select Player Icon</button>
      </div>

      <!-- Data Sharing Settings -->
      <div>
        <label for="data-sharing">Share my data with others:</label>
        <select id="data-sharing" name="data-sharing">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>

      <!-- Restrict Specific Friends (Visible only if data-sharing is Yes) -->
      <div id="restricted-friends-container">
        <label for="restricted-friends">Restricted Friends:</label>
        <input type="text" id="restricted-friends" name="restricted-friends" placeholder="Enter friend names separated by commas">
      </div>

      <!-- Close Account -->
      <div>
        <button type="button">Close Account</button>
      </div>
    </form>
  </div>
</body>
</html>
